.field
  .left-content
    = render "player_name"
    = render "player_answer"
  .center-content
    = render "result"
    = render "attack"
  .right-content
    = render "opponent_name"
    = render "opponent_answer"